p{
    color: rgb(34, 6, 6);
    font-style: italic;
    font-weight: bold;
}
td{
    font-style: italic;
    font-weight: bold;
}
body{
    background-image: url(https://i.pinimg.com/736x/19/b1/52/19b152898475a6f5f99b62b62f3164f8.jpg);
}
