body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.icons{
    display: flex;
    box-shadow: #e1dddd;
}
.contanier1 {
    flex-basis:50% 50%;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    width: 33%;
    
}

.container2{
    flex-basis:50% 50% ;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    width: 30%;
    justify-content: space-between;

}

img{
    margin-left: 2vw;
    margin-top: 2vh;
}

b{
    color: green;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* max-width: 300px; */
    /* display: flex; */
    /* flex-direction: row; */
    flex-direction: column; 
    row-gap: 5vh;
    column-gap: 8%;
    justify-content: space-between;
}

aside{
    display: flex;
    column-gap: 1vw;
}
footer{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.space{
    display: flex;
    justify-content: space-between;

}



/* .space{
    justify-content: space-between;
    display: flex;

} */
    /* text-align: center; */
    /* justify-content: center; */
    /* display: flex; */



/* .card h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.card .category {
    font-size: 14px;
    color: #777;
}

.card .installs {
    font-size: 12px;
    color: #555;
}

.card a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.card a:hover {
    text-decoration: underline;
}
 */
